# Ustawienia serwera
PORT=3000
NODE_ENV=development

# Konfiguracja serwera SMTP (Nodemailer)
SMTP_HOST=mail.twojadomena.pl
SMTP_PORT=587
SMTP_USER=kontakt@twojadomena.pl
SMTP_PASS=twoje_haslo_smtp

# Adres email, na który będą wysyłane wiadomości z formularza
EMAIL_TO=odbiorca@twojadomena.pl